<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.returnpanda.dao.PromotionSpaceMapper">

    <!--查询所有广告位-->
    <select id="findAllPromotionSpace" resultType="com.returnpanda.domain.PromotionSpace">
        SELECT * FROM promotion_space
    </select>

    <!--添加广告位-->
    <insert id="savePromotionSpace" parameterType="com.returnpanda.domain.PromotionSpace">
        insert into promotion_space values(null,#{name},#{spaceKey},#{createTime},#{updateTime},#{isDel})
    </insert>

    <!--回显广告位名称-->
    <select id="findPromotionSpaceById" parameterType="int" resultType="com.returnpanda.domain.PromotionSpace">
        select id,name from promotion_space where id=#{id};
    </select>


    <update id="updatePromotionSpace" parameterType="com.returnpanda.domain.PromotionSpace">
        UPDATE promotion_space SET NAME = #{name},updateTime = #{updateTime} where id = #{id}
    </update>
</mapper>